<settings>
    <category label="General">
        <setting id="show_hd"
                 type="bool"
                 label="Show HD movies only"
                 default="false"
                 visible="true" />
        <setting id="source_url"
                 type="string"
                 label="Custom movie feed URL"
                 default=""
                 visible="true" />
    </category>
</settings>
