<settings>
    <category label="IPTV Playlist Settings">
        <setting id="iptv_url_1" type="string" label="Playlist URL #1" default="" visible="true" />
        <setting id="iptv_url_2" type="string" label="Playlist URL #2" default="" visible="true" />
        <setting id="iptv_url_3" type="string" label="Playlist URL #3" default="" visible="true" />
        <setting id="iptv_url_4" type="string" label="Playlist URL #4" default="" visible="true" />
        <setting id="iptv_url_5" type="string" label="Playlist URL #5" default="" visible="true" />
    </category>

    <category label="EPG Settings">
        <setting id="epg_url"
                 type="string"
                 label="EPG XMLTV URL"
                 default="https://example.com/epg.xml"
                 visible="true" />
    </category>
</settings>

